<nav class="py-17 flex">
    <div class="flex gap-8 flex-1 overflow-hidden">
        @for (menuItem of menuItems(); track menuItem.label) {
            <app-button
                [routerLink]="handleLink(menuItem.link)"
                [label]="menuItem.label"
                [icon]="menuItem.icon"
                [isActive]="isActive(menuItem.link)"
            ></app-button>
        }
    </div>
    <div class="pl-9 flex gap-13 w-fit">
        <div class="cursor-pointer w-48 h-48 flex items-center justify-center rounded-full bg-slate-950 border-1 border-slate-700">
            <app-svg-icon class="w-19 h-14 [&_use]:stroke-slate-700 [&_use]:fill-none" icon="arrow-left"></app-svg-icon>
        </div>
        <div class="cursor-pointer w-48 h-48 flex items-center justify-center rounded-full bg-slate-950 border-1 border-slate-700">
            <app-svg-icon class="w-19 h-14 [&_use]:stroke-slate-700 [&_use]:fill-none" icon="arrow-right"></app-svg-icon>
        </div>
    </div>
</nav>