<header class="py-25 flex justify-between items-center w-full">
    <h1 class="text-3xl">Hi arthur, welcome! You have 12 open tasks.</h1>
    <div class="flex gap-10">
        <!-- SearchInput -->
        <input class="bg-slate-800 w-480 h-48 px-15 py-18 placeholder:text-slate-600 rounded-4xl outline-none" type="text" placeholder="Search">
        <!-- UserAvatar  -->
        <div class="w-48 h-48 bg-indigo-700-gradient rounded-full flex items-center justify-center">
            <span class="uppercase text-xl text-white">AR</span>
        </div>
    </div>
</header>